:root{
    --primary-color:rgb(44, 62, 80);
}

header{
    background-color: var(--primary-color);
}


/*.img-avatar{
    width: 80px;
}
.img-avatar{
    width: 100%;
    margin: auto;
}*/

section,{
    padding: 1rem 0;
}